<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonathangonzalezfragapdm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="andriod.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JonathanGonzalezFragaPDM">
        <activity android:name=".MainActivity_SlotMachine"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdMYg1eirJ9TvpFf130k5DOauzmGJOsS8" />

        <activity android:name=".MainActivity2_CreacionCita" />
        <activity android:name=".MainActivity2_ReiniciarContrasena" />
        <activity android:name=".MainActivity2_Muestrame" />
        <activity
            android:name=".MainActivity2_Perfil"
            android:label="@string/title_activity_main_activity2__perfil"
            android:theme="@style/Theme.JonathanGonzalezFragaPDM.NoActionBar" />
        <activity android:name=".MainActivity2_ImagenesDePerfil" />
        <activity android:name=".MainActivity2_Index" />
        <activity android:name=".MainActivity2_DatosPersonales" />
        <activity android:name=".MainActivity2_Registro" />
        <activity android:name=".MainActivity2_BienvenidaNormas" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>